  #l1 {
      grid-area: l1
  }
  
  #l2 {
      grid-area: l2
  }
  
  #l3 {
      grid-area: l3
  }
  
  #eff {
      grid-area: eff
  }
  
  #c1 {
      grid-area: c1
  }
  
  #c2 {
      grid-area: c2
  }
  
  #c3 {
      grid-area: c3
  }
  
  #c4 {
      grid-area: c4
  }
  
  #c5 {
      grid-area: c5
  }
  
  #n1 {
      grid-area: n1
  }
  
  #n2 {
      grid-area: n2
  }
  
  #n3 {
      grid-area: n3
  }
  
  #n4 {
      grid-area: n4
  }
  
  #n5 {
      grid-area: n5
  }
  
  #n6 {
      grid-area: n6
  }
  
  #n7 {
      grid-area: n7
  }
  
  #n8 {
      grid-area: n8
  }
  
  #n9 {
      grid-area: n9
  }
  
  #n0 {
      grid-area: n0
  }
  
  #r1 {
      grid-area: r1
  }
  
  #r2 {
      grid-area: r2
  }
  
  #ent {
      grid-area: ent
  }
  
  #point {
      grid-area: point
  }
  
  .numpad {
      display: grid;
      /* The rows, columns and areas of the grid are defined visually
     * using the grid-template-areas property.  Each string is a row,
     * and each word an area.  The number of words in a string
     * determines the number of columns. Note the number of words
     * in each string must be identical. */
      grid-template-areas: "c1 l1 l2 l3 eff" "c2 n1 n2 n3 r1" "c3 n4 n5 n6 r2" "c4 n7 n8 n9 ent" "c5 n0 n0 point ent";
      /* The way to size columns and rows can be assigned with the
     * grid-template-columns and grid-template-rows properties. */
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 20% 20% 20% 20% 20%;
  }